@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    background-color: white;
    color: #333;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px; 
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
}

.logo img {
    max-height: 70px;
    width: auto;
}

/* Menú */
.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin-right: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: #823e23; 
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding: 8px 8px;
    border-radius: 30px; 
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background-color: #f9cc6c; 
    color: #fff; 
}



/* Responsividad */
@media (max-width: 768px) {
    .header {
        padding: 15px 30px; 
        flex-direction: column;
        align-items: center;
    }

    .menu ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu ul li {
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px 20px;
        flex-direction: column;
        align-items: center;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu ul li {
        margin-bottom: 15px;
    }

    .slider {
        height: 300px;
    }

    .slider-item {
        font-size: 20px;
    }
}