/*===============Creadores==========================================*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f0e3; /* Fondo en tonos beige */
  text-align: center;
  padding-top: 80px; /* Espacio para el menú fijo */
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.logo img {
  max-height: 70px;
  width: auto;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #823e23;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.menu ul li a:hover {
  background-color: #f9cc6c;
  color: #fff;
}
.servicios {
  text-align: center;
  padding: 50px 0;
  background-color: rgba(255, 255, 255, 0.1); 
}

.servicios h2 {
  font-size: 35px;
  margin-bottom: 10px;
  color: #333;
}

.servicios-contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px; 
  max-width: 1200px;
  margin: 0 auto;
}

.tarjeta-servicio {
  background-color: #ffffff; 
  border-radius: 50px; 
  overflow: hidden; 
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative; 
  padding: 15px;
}

.tarjeta-servicio img {
  width: 70%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 20px;
}

.tarjeta-servicio h3 {
  font-size: 18px;
}

.tarjeta-servicio p {
  font-size: 14px;
  color: #666;
  padding: 0 10px;
}

.tarjeta-servicio:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.tarjeta-servicio:hover img {
  transform: scale(1.05); 
}


.tarjeta-servicio:hover h3 {
  color: #ffddaa; 
}
/*Footer*/

.Footer {
  background-color: #ebebeb;
  color: #fff;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-container div {
  flex: 1 1 200px;
  margin: 10px;
}

.footer h3 {
  margin-bottom: 10px;
  color: #f2f2f7;
}

.footer p, .footer a {
  color: #ccc;
  text-decoration: none;
}

.footer a:hover {
  color: #eeece5;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}


.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(233, 223, 223, 0.7);
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-container div {
  flex: 1 1 200px;
  margin: 10px;
}

.footer h3 {
  margin-bottom: 10px;
  color: #dbe1e6;
}

.footer p, .footer a {
  color: #ccc;
  text-decoration: none;
}

.footer a:hover {
  color: #d3d4e6;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}